
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">浙江机电职业技术学院</font></font></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{{menu.url}}" 
        *ngFor="let menu of menus">{{menu.name}}</a>
      </nav>
      <a class="btn btn-outline-primary" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">注册</font></font></a>
    </div>
    
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">价钱</font></font></h1>
      <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">通过此Bootstrap示例，可以快速为潜在客户建立有效的价格表。</font><font style="vertical-align: inherit;">它是使用默认的Bootstrap组件和实用程序构建的，几乎不需要进行任何自定义。</font></font></p>
    </div>
    
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm" *ngFor='let product of products; let i = index'>
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{product.category}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">${{product.pricing.price}}<small class="text-muted">/ 
              {{product.pricing.unit}}</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li *ngFor = 'let feature of product.features;'>{{feature}}</li>

            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">{{product.action}}</button>
          </div>
        </div>

      </div>
    
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="./assets/img/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">©2017-2020</font></font></small>
          </div>
          <div class="col-6 col-md">
            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">特征</font></font></h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">酷的东西</font></font></a></li>
              <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">随机特征</font></font></a></li>
              <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">团队特色</font></font></a></li>
              <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">开发人员的东西</font></font></a></li>
              <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">另一个</font></font></a></li>
              <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上次</font></font></a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">资源资源</font></font></h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">资源资源</font></font></a></li>
              <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">资源名称</font></font></a></li>
              <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">另一种资源</font></font></a></li>
              <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">最终资源</font></font></a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">关于</font></font></h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">球队</font></font></a></li>
              <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">地点</font></font></a></li>
              <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">隐私</font></font></a></li>
              <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">条款</font></font></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>